header {
  background: #333;
}

nav {
  display: flex;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.menu {
  margin-left: 60px;
  margin-right: auto;
}

ul{
	
	list-style: none;
}

a{
	color:#fff;
	text-decoration:none;
}

li{
	display: list-item;
}