*{
	box-sizing: border-box;
}

body{
	font-family: Work Sans;
	font-size: 16px;
	line-height: 1.5;
	background: red;
	color: white;
	padding:0;
}

p{
	margin-left:60px;
}


.logo{
	float: left;
	margin-left: 60px;
	margin-top:5px;
	width: 50px;
}

.menuitem{
	float: right;
	margin-right: 40px;
	margin-top: 18px;

}


.topnav{
	background-color: #333;
	height: 60px;
	width: 100%;
	margin-right:20px;
	
}