body {
  min-width: 630px;      /* 2x LC width + RC width */
  font-family: Work Sans, sans-serif;
}

h1{
  font-size: 100px;
}

h2{
  font-size: 60px;
}
#container {
  padding-left: 200px;   /* LC width */
  padding-right: 190px;  /* RC width */
}

#container .column {
  float: left;
  position: relative;
}
#center {
  width: 100%;
  padding: 10px 20px; 
  background:red;
}
#left {
  

  width: 180px;          /* LC width */
  padding: 0 10px;       /* LC padding */
  right: 240px;          /* LC fullwidth + CC padding */
  margin-left: -100%;


  background:yellow;
}
#right {
  width: 130px;          /* RC width */
  padding: 0 10px;       /* RC padding */
  margin-right: -190px;  /* RC fullwidth + CC padding */
  background:pink;
}
#footer {
  clear: both;
}

* html #left {
  left: 150px;  /* RC width */
}