@font-face {
    font-family: 'space_monobold';
    src: url('spacemono-bold-webfont.woff2') format('woff2'),
         url('spacemono-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'space_monobold_italic';
    src: url('spacemono-bolditalic-webfont.woff2') format('woff2'),
         url('spacemono-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'space_monoitalic';
    src: url('spacemono-italic-webfont.woff2') format('woff2'),
         url('spacemono-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'space_monoregular';
    src: url('spacemono-regular-webfont.woff2') format('woff2'),
         url('spacemono-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'space_groteskbold';
    src: url('spacegrotesk-bold-webfont.woff2') format('woff2'),
         url('spacegrotesk-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'space_grotesklight';
    src: url('spacegrotesk-light-webfont.woff2') format('woff2'),
         url('spacegrotesk-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'space_groteskmedium';
    src: url('spacegrotesk-medium-webfont.woff2') format('woff2'),
         url('spacegrotesk-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'space_groteskregular';
    src: url('spacegrotesk-regular-webfont.woff2') format('woff2'),
         url('spacegrotesk-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'space_grotesksemibold';
    src: url('spacegrotesk-semibold-webfont.woff2') format('woff2'),
         url('spacegrotesk-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*{
	box-sizing: border-box;
}

body{
		font-family:'space_groteskregular', IBM Plex Sans, sans-serif;
		font-size: 16px;
		line-height: 1.5;
		background-color: #111;
		color: #fff;
		padding:0;
		margin:0;
	}

h1{
		font-family:'space_grotesksemibold', IBM Plex Sans Semibold, sans-serif;
		text-transform:uppercase;
	}

.tag{
	font-family:'space_grotesklight', IBM Plex Sans Light, sans-serif;
	text-transform:uppercase;
	font-size:12px;
	line-height:100%;
}

.monospace{
	font-family:'space_monoregular', IBM Plex Mono, monospace; 
	text-transform:lowercase;
	font-size: 44px;
	font-weight: 400;
}

main{
	
	margin: 0;

}

header {
  background: #000;
}

nav {
  display: flex;
 
}

.menu {
  margin-left: auto;
  display: flex;
}

.menu_item{
	margin: 30px 20px;
	font-family:'space_monoregular', IBM Plex Mono, monospace; 
	font-size: 16px;
	font-weight: 400;
	color:#ccc;
	text-decoration: none;

}

a{
	color:#ccc;
	text-decoration: none;

}

a:hover{
	color:#fff;
}

ul{
	list-style: none;
	padding-left:0;
}

li{
	padding:10px;
}

#title_screen{
	display: flex;
	flex-direction: column;
	}



body{
	font-size: 16px;
	line-height: 1.5;
	background:#000;
}

h1{
	font-size: 144px;
	line-height: 1;

}

h2{
	font-size:18px;
	line-height:145%; 
	text-transform: uppercase;
}

#title_screen .figure{
	z-index: 2;
	height:85vh;
	
	object-fit: contain;
	flex-shrink:0;
	margin-bottom:auto;
	position:absolute;
	left:34vh;
	bottom:0vh;
}



#title_screen_txt_wrapper{
	display:flex;
	flex-direction:column;
	background:#000;
	width:67vw;
	z-index: 1;
	margin-top:4vh;
	padding-left:2vw;
	margin-bottom:auto;
	position:absolute;

}


#title_screen_txt_wrapper p{
	flex: 0 0 1vh;
}

#title_screen_txt_wrapper h1{
	flex: 0 0 10vh;}

#title_screen .bg{
	z-index:0;
	height:67vh;
	width:100%;
	object-fit:cover;
	position: absolute;
	bottom:0vh;

}

.txt_on_blue{
	background:#4566F9;
}	

.txt_on_blue{
	background:#27253D;
}	

.dotted_line{
	width:100%;
}


#education ul{
	list-style-image:url(media/chevron-right.svg);
}

#education ul li p{
	float:left;
}








.solid_line{
	height:6px;
	background-color:#fff;
	flex: 1 1 50vw;
}	

.tab_lines{
	display:flex;
}	

.dotted_line{
	flex: 1 1 50vw;
	object-fit:cover;
}

.active{
	color:#fff;
}

.default{
	color:#808080;
}


