@font-face {
    font-family: 'space_monobold';
    src: url('spacemono-bold-webfont.woff2') format('woff2'),
         url('spacemono-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'space_monobold_italic';
    src: url('spacemono-bolditalic-webfont.woff2') format('woff2'),
         url('spacemono-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'space_monoitalic';
    src: url('spacemono-italic-webfont.woff2') format('woff2'),
         url('spacemono-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'space_monoregular';
    src: url('spacemono-regular-webfont.woff2') format('woff2'),
         url('spacemono-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'space_groteskbold';
    src: url('spacegrotesk-bold-webfont.woff2') format('woff2'),
         url('spacegrotesk-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'space_grotesklight';
    src: url('spacegrotesk-light-webfont.woff2') format('woff2'),
         url('spacegrotesk-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'space_groteskmedium';
    src: url('spacegrotesk-medium-webfont.woff2') format('woff2'),
         url('spacegrotesk-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'space_groteskregular';
    src: url('spacegrotesk-regular-webfont.woff2') format('woff2'),
         url('spacegrotesk-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'space_grotesksemibold';
    src: url('spacegrotesk-semibold-webfont.woff2') format('woff2'),
         url('spacegrotesk-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*{
	box-sizing: border-box;
}

body{
		font-family:'space_groteskregular', IBM Plex Sans, sans-serif;
		font-size: 16px;
		line-height: 1.5;
		background-color: #111;
		color: #fff;
		padding:0;
		margin:0;
	}

h1{
	font-family:'space_grotesksemibold', IBM Plex Sans Semibold, sans-serif;
	text-transform:uppercase;
  }

.tag{
	font-family:'space_grotesklight', IBM Plex Sans Light, sans-serif;
	text-transform:uppercase;
	font-size:12px;
	line-height:100%;
}

.monospace{
	font-family:'space_monoregular', IBM Plex Mono, monospace; 
	text-transform:lowercase;
	font-size: 44px;
	font-weight: 400;
}


.centered{
	text-align:center;
}


.active{
	color:#fff;
}

.default{
	color:#808080;
}

.blue{
	background-color:#4566F9;
}

main{
	margin: 0;
	display:grid;
	grid-template-columns: [left-gutter header-start title_screen_bg-start title_screen_txt_wrapper-start who_we_are_bg-start what_we_do_bg-start what_we_do_p-start what_we_do_h1-start what_we_do_blue_bg-start what_we_do_photo-start] 2vw [who_we_are_device-start ] 2fr[who_we_are_device-end who_we_are_figure-start technology_txt_wrapper-start technology_tabs-start] 1fr[title_screen_figure-start] 3fr [] 2fr [ what_we_do_photo-end who_we_are_txt_wrapper-start who_we_are_figure-end what_we_do_txt_on_grey_1-start] 1fr [what_we_do_p-end what_we_do_h1-end title_screen_figure-end what_we_do_txt_on_grey_1-end what_we_do_txt_on_grey_2-start] 1fr [title_screen_txt_wrapper-end technology_txt_wrapper-end technology_tabs-end] 2fr [what_we_do_txt_on_grey_2-end] 2vw [right-gutter header-end title_screen_bg-end who_we_are_txt_wrapper-end who_we_are_bg-end what_we_do_bg-end what_we_do_blue_bg-end];
	grid-template-rows: [header-start ] 100px [title_screen_txt_wrapper-start title_screen_figure-start header-end] 30vh [title_screen_bg-start] 20vh [title_screen_txt_wrapper-end] 82vh [title_screen_figure-end title_screen_bg-end who_we_are_txt_wrapper-start who_we_are_figure-start] 16vh [who_we_are_device-start who_we_are_bg-start] 50vh 32px [who_we_are_figure-end who_we_are_bg-end] min-content[who_we_are_txt_wrapper-end who_we_are_device-end what_we_do_bg-start] 80vh [what_we_do_bg-end what_we_do_h1-start what_we_do_blue_bg-start what_we_do_txt_on_grey_1-start what_we_do_txt_on_grey_2-start] 72px [what_we_do_h1-end what_we_do_p-start] 25vh [what_we_do_p-end what_we_do_photo-start] 90vh [what_we_do_photo-end what_we_do_blue_bg-end what_we_do_txt_on_grey_1-end what_we_do_txt_on_grey_2-end technology_txt_wrapper-start]40vh[technology_txt_wrapper-end technology_tabs-start] 90vh [technology_tabs-end];
	grid-column-gap: 1vw;}

header {
  background: #000;
  grid-area: header;
}

nav {
	
  	display: flex;
  }

.menu {
  margin-left: auto;
  display: flex;
}

.menu_item{
	margin: 30px 20px;
	font-family:'space_monoregular', IBM Plex Mono, monospace; 
	font-size: 16px;
	font-weight: 400;
	color:#ccc;
	text-decoration: none;

}

a{
	color:#ccc;
	text-decoration: none;

}

a:hover{
	color:#fff;
}

ul{
	list-style: none;
	padding-left:0;
}



.lists li p{
	display:inline;
	padding-left:24px;
	
}

.lists li .icon{
	position:relative;
}

.lists li .icon img{
	position:absolute;
	top:2px;
}

body{
	font-size: 16px;
	line-height: 1.5;
	background:#000;
}

h1{
	font-size: 144px;
	line-height: 1;

}

h2{
	font-size:18px;
	line-height:145%; 
	text-transform: uppercase;
}

.accent{
	font-size:26px;
	line-height:165%;
}

.txt_mono{
	font-family:'space_monoregular', IBM Plex Mono, monospace; 
	font-size: 16px;
	line-height:185%;
}

#title_screen_txt_wrapper{
	background:#000;
	z-index: 1;
	grid-area:title_screen_txt_wrapper;
	padding-left:2vw;
	padding-right:2vw;
	
}

#title_screen_figure{
	object-fit: contain;
	margin-top:auto;
	z-index: 2;
	grid-area: title_screen_figure;
}

#title_screen_txt_wrapper h1{
	margin-top:-24px;
	margin-bottom:40px;
}

#title_screen_bg{
	z-index:-1;
	object-fit:cover;
	width:100%;
	margin-top:auto;
	height:70vh;
	grid-area: title_screen_bg;
}

#who_we_are_txt_wrapper{
	grid-area: who_we_are_txt_wrapper;
	z-index:0;
}

#who_we_are_txt_wrapper p{
	padding:24px;
	margin-top:-56px;
	margin-bottom:100px;
}

#who_we_are_device{
	grid-area: who_we_are_device;
	object-fit:contain;
	width:16vw;
	margin-top:auto;
	
}

#who_we_are_figure{
	grid-area: who_we_are_figure;
	object-fit:contain;
	width:36vw;
	z-index:2;
	margin-top:auto;
	margin-left:-1rem;

}

#who_we_are_bg{
	grid-area: who_we_are_bg;
	z-index:-1;
	object-fit:cover;
	width:100%;
	height:50vh;
}



#what_we_do_bg{
	margin-top:144px;
	background:url("media/what_we_do_bg.jpg");
	background-repeat: no-repeat;
	background-position: center top;
	background-size:cover;
	grid-area: what_we_do_bg;
	z-index:-1;
	width:100%;
}



#what_we_do_h1{
	grid-area:what_we_do_h1;
	padding-left:2vw;
}

#what_we_do_h1 h1{
	margin-top:-74px;
	
}

#what_we_do_p{
	grid-area:what_we_do_p;
	padding-left:2vw;
	
}

#what_we_do_blue_bg{
	grid-area: what_we_do_blue_bg;
	z-index:-3;
}

#what_we_do_photo{
	grid-area:what_we_do_photo;
	z-index:-2;
	object-fit:cover;
	margin-bottom:64px;
	width:100%;
	margin-top:auto;
}


.txt_on_grey{
	background:#27253D;
	width:22vw;
	padding:16px;
	z-index:2;
	margin-left:1vw;
	margin-right:1vw;
	display:flex;
	flex-direction:column;
}

#what_we_do_txt_on_grey_1{
	grid-area: what_we_do_txt_on_grey_1;
	margin-bottom:auto;
	margin-top:auto;
}

#what_we_do_txt_on_grey_2{
	grid-area: what_we_do_txt_on_grey_2;
	margin-bottom:64px;
	margin-top:auto;
}

.dotted_line_via_bg_2px{
	background:url(media/dotted_line_2px.svg);
	background-repeat:no-repeat;
	background-position:left center;
	height:2px;
	background-size:cover;
	margin-top:16px;
	margin-bottom:16px;
}

#what_we_do_CTA_txt, #what_we_do_CTA_btn{
	margin:16px;
	align-self:center;
}

#what_we_do_CTA_btn{
	margin-top:-16px;
	border:1px solid #fff;
	line-height: 2.5;
    padding: 0 48px;
    font-family:'space_groteskregular', IBM Plex Sans, sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    text-align: center;
    color: #fff;
    background-color:transparent;
}

#technology_txt_wrapper{
	grid-area: technology_txt_wrapper;
}

#technology_txt_wrapper p{
	margin-top:-64px;
}

#technology_tabs{
	grid-area: technology_tabs;
	display:flex;
}

#left_tab, #right_tab{
	flex: 1 1 30vw;
	display:flex;
	flex-direction:column;
}

#left_tab #left_tab_title, #left_tab #left_tab_subtitle, #right_tab #right_tab_title, #right_tab #right_tab_subtitle {
	align-self:center;
}

#left_tab #left_tab_subtitle, #right_tab #right_tab_subtitle {
	padding-bottom:12px;
	margin-top:-4px;
}

#left_tab .solid_line{
	background-color: #fff;
	flex: 0 0 6px;
	align-self:stretch;
}

.dotted_line img{
	margin-bottom:13px;
}

#right_tab .dotted_line_via_bg_2px{
	margin-top:2px;
}

#mockups{
	align-self:center;
	margin-top:auto;
	margin-bottom:auto;
}

#mockups img{
	width:16vw;
	object-fit:contain;

}

#app_store_badge{
	align-self:flex-start;
	
}
