@font-face {
    font-family: 'space_monobold';
    src: url('spacemono-bold-webfont.woff2') format('woff2'),
         url('spacemono-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'space_monobold_italic';
    src: url('spacemono-bolditalic-webfont.woff2') format('woff2'),
         url('spacemono-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'space_monoitalic';
    src: url('spacemono-italic-webfont.woff2') format('woff2'),
         url('spacemono-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'space_monoregular';
    src: url('spacemono-regular-webfont.woff2') format('woff2'),
         url('spacemono-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'space_groteskbold';
    src: url('spacegrotesk-bold-webfont.woff2') format('woff2'),
         url('spacegrotesk-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'space_grotesklight';
    src: url('spacegrotesk-light-webfont.woff2') format('woff2'),
         url('spacegrotesk-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'space_groteskmedium';
    src: url('spacegrotesk-medium-webfont.woff2') format('woff2'),
         url('spacegrotesk-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'space_groteskregular';
    src: url('spacegrotesk-regular-webfont.woff2') format('woff2'),
         url('spacegrotesk-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'space_grotesksemibold';
    src: url('spacegrotesk-semibold-webfont.woff2') format('woff2'),
         url('spacegrotesk-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*{
	box-sizing: border-box;
}

body{
		font-family:'space_groteskregular', IBM Plex Sans, sans-serif;
		font-size: 16px;
		line-height: 1.5;
		background-color: #111;
		color: #fff;
		padding:0;
		margin:0;
	}

h1{
		font-family:'space_grotesksemibold', IBM Plex Sans Semibold, sans-serif;
		text-transform:uppercase;
	}


.monospace{
	font-family:'space_monoregular', IBM Plex Mono, monospace; 
	text-transform:lowercase;
	font-size: 44px;
	font-weight: 400;
}

.nav_active{
	font-family:'space_monoregular', IBM Plex Mono, monospace; 
	font-weight: 400;
	color:#fff;
	text-decoration: none;

}

.nav_default{
	font-family:'space_monoregular', IBM Plex Mono, monospace; 
	font-size: 16px;
	font-weight: 400;
	color:#ccc;
	text-decoration: none;

}
main{
	
	margin: 0;

}

header {
  background: #000;
}

nav {
  display: flex;
 
}

.menu {
  margin-left: auto;
  display: flex;
}

.menu_item{
	margin: 30px 20px;

}

a{
	color:#fff;
	text-decoration: none;
}


#title_screen{
		background-image: url(media/title_screen_bg.jpg);
		background-repeat: no-repeat;
		background-color:#000;
		margin-top:30vh;
		padding-top:10vh;
		position: relative;
		background-size: cover;
		height: 70vh;
		
		
	}



body{
	font-size: 16px;
	line-height: 1.5;
	background:#000;
}

h1{
	font-size: 144px;
	line-height: 1;

}

#title_screen .figure{
	position: absolute;
	bottom:-2px;
	left: 50%;
	width:70%;
	margin-left:-400px;
	
}



#title_screen_txt_wrapper{
	background-color:#000;
	margin-top: -30vh;
	padding: 2vh 2.4vw;
	width: 70vw;
	z-index:1;
}


	
	
	

