@font-face {
    font-family: 'space_monobold';
    src: url('spacemono-bold-webfont.woff2') format('woff2'),
         url('spacemono-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'space_monobold_italic';
    src: url('spacemono-bolditalic-webfont.woff2') format('woff2'),
         url('spacemono-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'space_monoitalic';
    src: url('spacemono-italic-webfont.woff2') format('woff2'),
         url('spacemono-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'space_monoregular';
    src: url('spacemono-regular-webfont.woff2') format('woff2'),
         url('spacemono-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'space_groteskbold';
    src: url('spacegrotesk-bold-webfont.woff2') format('woff2'),
         url('spacegrotesk-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'space_grotesklight';
    src: url('spacegrotesk-light-webfont.woff2') format('woff2'),
         url('spacegrotesk-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'space_groteskmedium';
    src: url('spacegrotesk-medium-webfont.woff2') format('woff2'),
         url('spacegrotesk-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'space_groteskregular';
    src: url('spacegrotesk-regular-webfont.woff2') format('woff2'),
         url('spacegrotesk-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'space_grotesksemibold';
    src: url('spacegrotesk-semibold-webfont.woff2') format('woff2'),
         url('spacegrotesk-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*{
	box-sizing: border-box;
}

body{
		font-family:'space_groteskregular', IBM Plex Sans, sans-serif;
		font-size: 16px;
		line-height: 1.5;
		background-color: #111;
		color: #fff;
		padding:0;
		margin:0;
	}

h1{
		font-family:'space_grotesksemibold', IBM Plex Sans Semibold, sans-serif;
		text-transform:uppercase;
	}

header {
  background: #000;
}

nav {
  display: flex;
 
}

.menu {
  margin-left: auto;
  display: flex;
}

.menu_item{
	margin: 30px 20px;

}

a{
	color:#fff;
	text-decoration: none;
}


@media screen and (max-width: 720px){
	.topnav{
		display: none;
	}

	body{
		font-size: 14px;
		line-height: 1.5;
	}

	h1{
		font-size: 48px;
		line-height: 1;
	}

	main{
		display:grid;
		grid-template-columns: 5vw repeat(4,1fr) 5vw;
		grid-template-rows: auto 1vh repeat(4,auto) 18vh auto auto auto 40px min-content auto auto;
		grid-gap: 1em;
	}

	#title_screen_txt{
		grid-area: 1 / 2 / 2 / 6;
		padding-top: 1vh;
		z-index:1;
	}

	#title_screen_txt p{
		font-family:'space_monoregular', IBM Plex Mono, sans-serif; 
		font-size: 14px;
		color:#fff;
	}

	#title_screen_figure{
		grid-area: 1 / 2 / 4 / 6;
		justify-self: center;
		align-self: end;
		z-index:2
	}

	#title_screen_photo_bg{
		grid-area: 3 / 1 / 4 / 7;
		z-index:-1;
	}

	

	.figure{
		object-fit:contain;
		max-width: 90vw;
		z-index:2
	}

	.bg{
		object-fit:cover;
		width:100%;
	}

	#title_screen_black_bg{
		display:none;

	}

	#who_we_are_photo_bg{
		grid-area: 6 / 2 / 9 / 7;
	}

	#who_we_are_figure{
		grid-area: 6 / 1 / 9 / 5;
		justify-self: start;
		align-self: end;
		z-index:2;
	}

	#who_we_are_figure img{
		max-width: 60vw;

	}

	#who_we_are_title{
		grid-area: 5 / 4 / 8 / 6;
        align-self: end;
        z-index:1;
	}

	#who_we_are_title{
		padding-left: 6vw;
	}

	#who_we_are_txt_on_blue{
		grid-area: 9 / 2 / 10 / 6;
		z-index:2;
		
	}
    
	#who_we_are_blue_bg{
		grid-area: 8 / 1 / 11 / 7;
		background: #4566F9;
		z-index:0;
	}

    #who_we_are_txt_on_blue p, #what_we_do_txt p{
    	color: #fff;
    	font-size:19px;
    	line-height:145%;
	}

	#who_we_are_iphone img{
		width:0;
	}

	#what_we_do_photo_bg{
		grid-area: 10 / 1 / 12 / 7;
		z-index:1;
	}

	#what_we_do_title{
		grid-area: 11 / 2 / 14 / 6;
		z-index:1;
		align-self: end;
	}

	#what_we_do_txt{
		grid-area: 13 / 2 / 14 / 6;
		z-index:2;
	}

	#what_we_do_blue_bg{
		grid-area: 12 / 1 / 14 / 7;
		z-index:0;
		background: #4566F9;
	}


}


@media screen and (min-width: 720px) and (max-width: 1180px){
	body{
		font-size: 16px;
		line-height: 1.5;
	}

	h1{
		font-size: 85px;
		line-height: 1;
	}

	main{
		display:grid;
		grid-template-columns: 3vw repeat(8,1fr) 3vw;
		grid-template-rows: 90px repeat (3,auto);
		grid-gap: 1em;
	}

	#title_screen_txt{
		grid-area: 2 / 2 / 4 / 9;
		padding-top: 1vh;
		z-index:1;
	}

	#title_screen_txt p{
		font-family:'space_monoregular', IBM Plex Mono, sans-serif; 
		font-size: 16px;
		color:#fff;
	}

	#title_screen_figure{
		grid-area: 2 / 3 / 5 / 10;
		justify-self: center;
		align-self: end;
		z-index:2
	}

	#title_screen_figure img{
		max-width: 70vw;
	}

	#title_screen_photo_bg{
		grid-area: 3 / 1 / 5 / 11;
		z-index:-1;
	}

	.figure{
		object-fit:contain;
		
	}

	.bg{
		object-fit:cover;
		width:100%;
	}

	#title_screen_black_bg{
		grid-area: 2 / 1 / 4 / 9;
		background: #000;

	}


	#who_we_are_photo_bg{
		grid-area: 7 / 1 / 10 / 11;
		z-index:0;
		object-fit:contain;
	}

	#who_we_are_photo_bg img{
		max-height: 33vh;
		width:100%;

	}


	#who_we_are_figure{
		grid-area: 6 / 1 / 10 / 7;
		justify-self: start;
		align-self: end;
		z-index:2;
	}

	#who_we_are_figure img{
		max-width:65vw;
	}


	#who_we_are_title{
		grid-area: 6 / 7 / 9 / 9;
        align-self: end;
        z-index:1;
	}

	#who_we_are_txt_on_blue{
		grid-area: 9 / 6 / 11 / 10;
		z-index:2;
		
	}
    
	#who_we_are_blue_bg{
		grid-area: 9 / 6 / 11 / 11;
		background: #4566F9;
		z-index:1;
	}

    #who_we_are_txt_on_blue p{
    	color: #fff;
    	font-size:22px;
    	line-height:165%;
    	padding-left: 2vw;
    	padding-top: 2vh;

	}

	#who_we_are_iphone img{
		width:0;
	}


}

@media screen and (min-width: 1180px){
	body{
		font-size: 16px;
		line-height: 1.5;
	}

	h1{
		font-size: 108px;
		line-height: 1;

	}

	main{
		display:grid;
		grid-template-columns: 5vw repeat(12,1fr) 5vw;
		grid-template-rows: 90px max-content auto auto auto auto auto auto 20vh;
	}
	
	.topnav{
		grid-area: 1 / 1 / 2 / 15;
		height: 80px;
	}

	#title_screen_txt{
		grid-area: 2 / 2 / 4 / 12;
		padding-top: 1vh;
		z-index:1;
		background: #000;
	}

	#title_screen_txt p{
		font-family:'space_monoregular', IBM Plex Mono, sans-serif; 
		font-size: 24px;
		color:#fff;
	}

	#title_screen_figure{
		grid-area: 2 / 2 / 5 / 14;
		justify-self: center;
		align-self: end;
		z-index:2
	}

	#title_screen_photo_bg{
		grid-area: 3 / 1 / 5 / 15;
		z-index:-1;
	}

	.figure{
		object-fit:contain;
		max-width: 70vw;
	}

	.bg{
		object-fit:cover;
		width:100%;
	}

	#title_screen_black_bg{
		grid-area: 2 / 1 / 4 / 12;
		background: #000;

	}
	
	#who_we_are_photo_bg{
		grid-area: 7 / 1 / 9 / 15;
		z-index:0;
		object-fit:contain;
	}

	#who_we_are_photo_bg img{
		max-height: 33vh;
		width:100%;

	}


	#who_we_are_figure{
		grid-area: 6 / 4 / 9 / 12;
		justify-self: start;
		align-self: end;
		z-index:2;
	}

	#who_we_are_figure img{
		max-width:45vw;
	}


	#who_we_are_title{
		grid-area: 6 / 10 / 9 / 13;
        align-self: end;
        z-index:1;
        align-self: end;
	}

	#who_we_are_title h1{
		padding-bottom:10vh;
	}

	#who_we_are_txt_on_blue{
		grid-area: 8 / 10 / 10 / 14;
		z-index:2;
		
	}
    
	#who_we_are_blue_bg{
		grid-area: 8 / 10 / 10 / 14;
		background: #4566F9;
		z-index:1;
	}

    #who_we_are_txt_on_blue p{
    	color: #fff;
    	font-size:22px;
    	line-height:165%;
    	padding-left: 2vw;
    	padding-top: 2vh;

	}

	#who_we_are_iphone{
		grid-area: 6 / 1 / 10 / 4;
		z-index: 2;
		align-self: end;

	}

	#who_we_are_iphone img{
		max-width:20vw;
		
	}
}
}
